---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Eipet', description = 'Tu tienda de mascotas favorita' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="font-sans">
		<div class="min-h-screen flex flex-col bg-gray-50">
		  <Header />
		  <main class="grow bg-gray-100">
			<slot />
		  </main>
		  <Footer />
		</div>
	  </body>
</html>

